<div class="detail-warp">
  <h1>新大陆</h1>
  <div class="detail-list" >
    <div *ngFor="let item of list" style="margin: 10px">
      <nz-card class="position-item" style="width:300px;" 
      [nzExtra]="new"  [nzTitle]="item.name"
        [nzExtra]="extraTemplate">
        <p>{{item.date}}</p>
        <p>{{item.desc}}</p>
        <p class="price">预算：{{item.price}}</p>
      </nz-card>
      <ng-template #new >
        <strong *ngIf="!item.hasDone" class="card-new">新</strong>
      </ng-template>
    </div>
  </div>

</div>
