.detail-warp {
  .detail-list {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
  }
  .position-item {
    position: relative;
    .price {
      font-size: 18px;
      font-weight: bold;
      color: #ff0000;
    }
  }
  .card-new {
    font-size: 16px;
    color: #ff0000;
  }
}